<h1>Showing selected Posts</h1>

<p>
Title: <%= @post.title %>
</p>

<p>
Description: <%= @post.description%>
</p>
<%= link_to "Edit this Posting", edit_post_path(@post) %> | 
<%= link_to "Back to Post Listing", posts_path %>